@import url("https://fonts.googleapis.com/css2?family=Quantico&display=swap");

body {
  background-color: antiquewhite;
  background-image: url("https://i.imgur.com/r6OFlor.jpg");
  opacity: 0.8;
}

#container {
  width: 910px;
  height: 780px;
  background-color: blue;
  margin: auto;
  border: 3px solid black;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

h1 {
  font-family: "Quantico", sans-serif;
  text-align: center;
  margin-bottom: 0;
  font-size: 76px;
  margin-left: auto;
  margin-right: auto;
}

.tile {
  display: inline-block;
  width: 130px;
  height: 130px;
  cursor: pointer;
  /* padding: 10px; */
  border-radius: 50%;
}

#win-message {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0px;
}

.win-tracker {
  float: right;
  bottom: 100%;
  border: 5px solid black;
  width: 200px;
  height: 100px;
}

h2 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

h4 {
  margin-top: 5px;
  margin-bottom: 0;
}

.player-div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 0ch;
}

.counter-div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  font-size: 18px;
}
